@import "../../styles/brand.module.scss";
@import "../../styles/text.module.scss";
@import "../../styles/breakpoints.scss";

.github {
  height: 30px;
  width: auto;
  cursor: pointer;
  color: $dark;
  margin-top: 20px;
}

.github:hover{
  color: $lightGrey;
}

#invertedcursor {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform 0.2s;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}


.gridItem{
  border-radius: 8px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: #ffffff00 solid 1px;
}

.gridItem:hover{
  background-color: rgb(3, 3, 3);
  cursor: pointer;
  border: #fff solid 1px;
}

.techLabel{
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: start;
  margin: 10px 0;


  // min-width: 50px;
}

.vertImg{
  display: block;
  height: 100%;
  max-height: 20em;
  width: auto;
  object-fit:contain;
  

  @include md {
    display: none;
  }

}

.horImg{
  display: none;

  overflow: hidden;
  img{
     height: 20em;
     width: auto;
     object-fit: contain;
  }

  @include md {
    display: flex;
    justify-content: center;
    
  }
}


.content{
  flex-direction: column !important;

  @include md {
    flex-direction: row !important;
  }
}

.infoWrapper{
  overflow: hidden;
  width: 100% !important;

  @include md {
    width: 50% !important;
  }
}

.techWrap{
  width: 100%;
  // padding:0 10px 10px 0;
  
  // display: grid;
  // gap:5px;
  // grid-template-columns : auto;
  // grid-template-rows: 1fr 1fr  !important;+

  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  overflow-wrap: break-word;
  justify-content: flex-start;
  gap: 10px;
  
  
  // @include lg {
  //   display: flex;
  //   flex-direction: row;
  //   justify-self: flex-start;
  //   overflow-wrap: break-word;
  //   justify-content: flex-start,
  // }

}

.projectContainer{
  display: grid;
  gap:10px;
  grid-template-columns : 1fr 1fr;
  grid-template-rows: auto;
}


//templateColumns={"1fr 1fr 1fr"} templateRows={"1fr 1fr"} gap="5px" alignItems="center" w="100%" p="0 10px 10px 0"


.noButton{

    all: unset;
    display: inline-block; /* Ensures it behaves like an inline element if needed */
    // cursor: pointer; /* Adds back pointer cursor if necessary */
  
}