@use "../../../styles/brand.module.scss";
@use "../../../styles/breakpoints.scss";

.hero{
  @include breakpoints.sm{
    height: 50vh;
  }
}
/* Floating Links */
  .floatingLinks {
    color: #777777;
  }
  
  .floatingItem {
    margin-right: 0.6em;
    // margin-top: 10px;
    height: 70%;
  }


  
  .floatingItem:hover {
    color: brand.$lightGrey;
  }
  
//   @media (max-width: 1138px) {
//     .linkWrapper {
//       width: 100%;
//       display: none;
//     }
//   }
  
//"w-6 h-6 text-gray-800 dark:text-white"
.locationPin{
  width: 30px;
  height: 30px;
  color: brand.$dark;
}
