.github {
  height: 20px;
  width: auto;
  cursor: pointer;
}

#invertedcursor {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform 0.2s;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

#projectContainer {
  cursor: none;
}
