@import "tailwindcss";

@font-face {
  font-family: 'FigTree';
  src: url('/fonts/figtree/Figtree-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  font-family: 'FigTree', sans-serif;
}

.movable {
  width: 20px;
  height: 20px;
  background: #00000000;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.5s;
  cursor: none;
  font-size: 0.7em;
  font-family: 'FigTree', sans-serif;
}

.movable.active {
  width: 60px;
  height: 60px;
  /* background: #fff; */
  /* mix-blend-mode: difference; */
  color: #000;
  cursor: pointer;
}

.movable.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: none;
}

.movable.cursor-pointer:after {
  content: "Open";
  cursor: none;
}

.movable.cursor-right:after {
  content: "Close";
}

.movable.cursor-left:after {
  content: "<";
}

.movable-gone {
  display: none;
}

/* #invertedcursor {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform 0.2s;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
} */
