@use './brand.module.scss';
@use './layout.module.scss';
@use './text.module.scss';

.copy{
    // background-color: #99999944;
    color: brand.$dark;
    font-size: text.$mf;
    padding: 3px;
    height: auto;
    width: 100%;
    border-radius: 5em;
    margin: 5px;
    border: none;
    display: flex;
    flex-direction: row;
}

.copy:hover{
    background-color: brand.$dark;
    color: brand.$offWhite; 
    cursor: pointer;
}

.resume{
    background-color: #99999944;
    height: 33px;
    width: 30%;
    color: brand.$dark;
    padding: 0 4px;
    border-radius: 5px; 
    outline: none;
    text-decoration: none;
    text-align: center;
    @include layout.Flex('vertical');
    @include text.medFont(0);
}

.resume:hover{
    background-color: brand.$dark;
    color: brand.$offWhite;
    cursor: pointer;
}

.close{
    height: 40px;
    width: 40px;
    color: brand.$lightGrey;
    background-color: #FFFFFFDD;
    border-radius: 50%;
    padding: 2px;
    transform: translateY(15px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.close:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}