@import './brand.module.scss';
@import './layout.module.scss';
@import './text.module.scss';

.copy{
    background-color: #99999944;
    color: $dark;
    font-size: $mf;
    padding: 3px;
    height: auto;
    width: 4em;
    border-radius: 5em;
    margin: 5px;
    border: none;
}

.copy:hover{
    background-color: $dark;
    color: $offWhite; 
    cursor: pointer;
}

.resume{
    @include Flex('vertical');
    background-color: #99999944;
    @include medFont(-0.5);
    height: 30px;
    width: 30%;
    color: $dark;
    padding: 0 4px;
    border-radius: 5px; 
    outline: none;
    text-decoration: none;
    text-align: center;
}

.resume:hover{
    background-color: $dark;
    color: $offWhite;
    cursor: pointer;
}