@import './brand.module.scss';
@import "./breakpoints.scss";

$mf: $sf + 0.2;
$lf: $sf + 0.6; 

@mixin smallFont {
    font-size: $sf;
    line-height: $sf + 1.08;
    color: $dark;
    //color: blue;
    @include sm{
        font-size: $sf + 0.25;
       //color: red;
    }
    @include md{
        font-size: $sf + 0.2;
        //color: pink;
    }
    @include lg{
        font-size: $sf + 0.3;
    }
}

@mixin medFont($boost) {
    font-size: $mf + $boost;
    color: $dark;

    @include sm{
        font-size: $mf + $boost + 0.1;
    }
    @include md{
        font-size: $mf + $boost+ 0.2;
    }
    @include lg{
        font-size: $mf + $boost + 0.3;
    }
}


@mixin largeFont {
    font-size: $lf;
    color: $dark;

    @include sm{
        font-size: $lf + 0.4;
    }
    @include md{
        font-size: $lf + 0.5;
    }
    @include lg{
        font-size: $lf + 1.0;
    }
}


.small{
    color: $dark;
    @include smallFont;
    margin: 0;
}

.med{
    color: $dark;
    @include medFont(0);
    margin: 0;
}

.subTitle{
    color: $dark;
    @include medFont(0.3);
    margin: 0;
}

.Title{
    color: $dark;
    @include largeFont;
    margin: 0.2em 0;
}

.heroTitle{
    color: $dark;
    @include largeFont;
    margin: 0.1em 0;
}
.heroSubTitle{
    color: $lightGrey;
    @include medFont(0.2);
    margin: 0;
}

.headerLink{
    color: $dark;
    @include medFont(-0.3);
}

.headerLink:hover{
    color: $lightGrey;
    cursor: pointer;
}

.highLight{
    @include smallFont;
    width: 6em; 
    background-color: black;
    color: white; 
    padding: 1em; 
    border-radius: 5px;
    margin-right: 5px;
}