@use './brand.module.scss';
@use "./breakpoints.scss";

$mf: brand.$sf + 0.2;
$lf: brand.$sf + 0.6; 

    @mixin smallFont {
        font-size: brand.$sf;
        line-height: brand.$sf + 1.08;
        // color: brand.$dark;


        @include breakpoints.xs{
            font-size: brand.$sf + 0.6;
        }
        //color: blue;
        @include breakpoints.sm{
            font-size: brand.$sf + 0.25;
        //color: red;
        }
        @include breakpoints.md{
            font-size: brand.$sf + 0.2;
            //color: pink;
        }
        @include breakpoints.lg{
            font-size: brand.$sf + 0.3;
        }
    }

@mixin medFont($boost) {
    font-size: $mf + $boost;
    // color: brand.$dark;

    @include breakpoints.xs{
        font-size:  $mf + $boost + 0.4;
    }
    @include breakpoints.sm{
        font-size: $mf + $boost + 0.1;
    }
    @include breakpoints.md{
        font-size: $mf + $boost+ 0.2;
    }
    @include breakpoints.lg{
        font-size: $mf + $boost + 0.3;
    }
}


@mixin largeFont {
    font-size: $lf;
    // color: brand.$dark;

    @include breakpoints.xs{
        font-size:   $lf + 0.4;
    }
    @include breakpoints.sm{
        font-size: $lf + 0.4;
    }
    @include breakpoints.md{
        font-size: $lf + 0.5;
    }
    @include breakpoints.lg{
        font-size: $lf + 1.0;
    }
}


.small{
    margin: 0;
    color: brand.$dark;
    @include smallFont;
}

.med{
    color: brand.$lightGrey;
    margin: 0;
    @include medFont(0);
}

.subTitle{
    color: brand.$dark;
    margin: 0;
    @include medFont(0.3);
}

.Title{
    color: brand.$lightGrey;
    margin: 0.2em 0;
    @include largeFont;
}

.heroTitle{
    color: brand.$lightGrey;
    margin: 00.1em 0 0;
    @include largeFont;
}
.heroSubTitle{
    color: brand.$lightGrey;
    margin: 0;
    @include medFont(0.2);
}

.location{
    color: brand.$dark;
    margin: 0;
    height: 80%;
    @include smallFont();
}


.headerLink{
    color: brand.$dark;
    @include medFont(0);
}

.headerLink:hover{
    color: brand.$lightGrey;
    cursor: pointer;
}

.highLight{
    width: 6em; 
    background-color: black;
    color: white; 
    padding: 1em; 
    border-radius: 5px;
    margin-right: 5px;
    @include smallFont;
}