/* Floating Links */
  .floatingLinks {
    color: #777777;
  }
  
  .floatingItem {
    margin-right: 0.6em;
    margin-top: 10px;

    height: 80%;
  }


  
  .floatingItem:hover {
    color: #262626;
  }
  
//   @media (max-width: 1138px) {
//     .linkWrapper {
//       width: 100%;
//       display: none;
//     }
//   }
  