@import "../../styles/brand.module.scss";

/* Floating Links */
.linkWrapper {
  position: fixed;
  top: 80vh;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
.floatingLinks {
  color: #777777;
}

.floatingItem {
  margin: 0.4em;
}

.floatingItem:hover {
  color: $lightGrey;
}

@media (max-width: 1138px) {
  .linkWrapper {
    width: 100%;
    display: none;
  }
}
