/* Floating Links */
.linkWrapper {
  position: fixed;
  top: 80vh;
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
.floatingLinks {
  color: #262626;
}

.floatingItem {
  margin: 0.4em;
}

.floatingItem:hover {
  color: #9450f2;
}

@media (max-width: 1138px) {
  .linkWrapper {
    width: 100%;
    display: none;
  }
}
