---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

import layout from "./layout.module.scss"

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={layout.body}>
		<slot name="body"/>
		<div class={layout.maxPage}>
			<slot name="content"/>
		</div>
	</body>
</html>
<style>
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		height: 100%;
		overflow: hidden;
		scroll-behavior: smooth;
		font-size: calc(15px + 0.390625vw);

		color-scheme: dark;


	}


	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
			"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
			sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		overflow-Y: scroll;
		display: flex;
		justify-content: center;
		height: 100%;
	}
	#root {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
			monospace;
	}

	#modal-root {
		position: relative;
		z-index: 999;
		background-color: red;
		width: 500px;
		height: 500px;
	}


</style>
