@use "../styles/breakpoints.scss";
@use "../styles/brand.module.scss";

.maxPage{
    width: 80%;
     @include breakpoints.sm {
        width: 80%;
    }
    @include breakpoints.md {
        width: 70%;
    }
    @include breakpoints.xl {
        width: 50%;
    }
}