@import "../styles/breakpoints.scss";
@import "../styles/brand.module.scss";

.maxPage{
    width: 80%;
     @include sm {
        width: 80%;
    }
    @include md {
        width: 70%;
    }
    @include xl {
        width: 50%;

    }
}