@import "../styles/breakpoints.scss";

.maxPage{
    width: 80%;
     @include sm {
        width: 70%;
    }
    @include md {
        width: 70%;
    }
    @include xl {
        width: 60%;

    }
}